<div class="jumbo">
    <h1 class="text-primary">{{message}}</h1>
    
    

    <!-- <div [ngClass]="dynamicBackground">
        <h2>{{getResponse()}}</h2>
        <h1>Product:{{Product}}</h1>
        <h1 *ngFor="let product of Products">{{product.name}}</h1>
    </div>
    
      <h1 *ngFor="let product of Products">{{product.price}}</h1>
    <h1 *ngFor="let product of Products">{{product.brand}}</h1> -->
<!-- <button (click)="updateProduct()" [disabled]="enabled">Update Product</button>

<input type="text" name="useName" id="userName" value="Brainbeam">
<button type="button" id="btnTest" (click)="enableButton()">Dynamic Binding Test</button> -->  
    <!-- <button class="button">Expolre more...</button> -->
    
</div>